title: Jayden Skelly, personal website
description: "Personal website and research portfolio"
baseurl: "" # Leave empty if using username.github.io
url: "https://github.com/jskelly1/jskelly1.github.io" # Update with your GitHub username

# Build settings
markdown: kramdown
theme: minima

plugins:
  - jekyll-feed
  - jekyll-seo-tag

# Exclude files
exclude:
  - README.md
  - Gemfile
  - Gemfile.lock
