---
---

@import "jekyll-theme-minimal";

.menu {
  text-align: center;
  z-index: 1000;
  margin-bottom: 10px;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  display: inline-block;
  padding: 10px;
  background: #fff;
  margin: 2px;
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid #222;
}


.read-more {
    text-transform: uppercase;
    font-size: 15px;
}
